@font-face {
    font-family: Akzidenz;
    font-weight: 700;
    font-style: normal;
    src: url('../src/assets/fonts/AkzidenzGroteskPro-BoldEx.otf') format('opentype');
}
@font-face {
    font-family: Akzidenz;
    font-weight: 500;
    font-style: normal;
    src: url('../src/assets/fonts/AkzidenzGroteskPro-Md.otf') format('opentype');
}
@font-face {
    font-family: Akzidenz;
    font-weight: 400;
    font-style: normal;
    src: url('../src/assets/fonts/AkzidenzGroteskPro-Regular.otf') format('opentype');
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    font-family: Akzidenz, sistem-ui, sans-serif;
    background-image: url('../src/assets/images/background-image-auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    margin: 0;
}

.login-form {
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    position: relative;
}

.login-form-header {
    text-align: center;
    text-transform: uppercase;
}

.input-field, .login-form-submit, .login-form-about {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Akzidenz, sistem-ui, sans-serif;
    font-size: 16px; 
    font-weight: 700;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.login-form-submit, .login-form-about {
    text-transform: uppercase;
    animation: fadeIn 2s ease-in-out forwards;
}

.login-form-about:hover,
.login-form-submit:not(:disabled):hover,
.about-page-button:hover {
    cursor: pointer;
    background-image: url('https://i.pinimg.com/originals/80/ec/a7/80eca70a4d933fd26f1f66444ab95107.jpg');
    background-position: 100%;
    background-size: cover; 
    color: brown;
}

.login-form-image {
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    transform: translate(40%, -50%);
}

.input-field::placeholder {
    font-family: Akzidenz, sistem-ui, sans-serif;
    font-size: 16px;
}

.about-wrapper {
    height: 100vh;
    background-image: url('../src/assets/images/background-image-about.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-page-header {
    padding: 0 20px;
    font-size: 40px;
    text-align: center;
}

.about-page-description {
    padding: 0 40px;
    text-align: justify;
    font-size: 20px;
}

.about-page-link {
    padding: 0 40px;
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
}

.about-page-button {
    text-align: center;
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: Akzidenz, sistem-ui, sans-serif;
    font-size: 16px; 
    font-weight: 700;
    margin-top: 20px;
}

.error-message {
    color: red;
    width: 300px;
    font-weight: 500;
}